[submodule "libs/bump"]
	path = libs/bump
	url = https://github.com/kikito/bump.lua
[submodule "libs/hump"]
	path = libs/hump
	url = git@github.com:vrld/hump
[submodule "libs/stalker-x"]
	path = libs/stalker-x
	url = git@github.com:a327ex/stalker-x
[submodule "libs/sysl-text"]
	path = libs/sysl-text
	url = git@github.com:sysl-dev/sysl-text
[submodule "libs/lume"]
	path = libs/lume
	url = git@github.com:rxi/lume
[submodule "libs/baton"]
	path = libs/baton
	url = git@github.com:tesselode/baton
